/TraductorPascalC/build/
/TraductorPascalC/dist/
/IsaacLozanoJorgePrieto/EntregaFinal/PLCtoPascal/build/
/IsaacLozanoJorgePrieto/EntregaFinal/PLCtoPascal/dist/
/IsaacLozanoJorgePrieto/EntregaFinal/PLCtoPascal/nbproject/private/